<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>GreenOak - @ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/razorflow")
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container-fluid">
                <div class="row" id="logo">
                    <div class="col-md-6 col-xs-12">
                        <h1>GreenOak</h1>
                    </div>
                    <div class="col-md-6 hidden-xs">
                        <h2>... a sua empresa de confiança!</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 hidden-sm hidden-xs">
                        <div class="row container-fluid">
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/">Home <span class="glyphicon glyphicon-home pull-right" aria-hidden="true"></span></a></li>
                                <li><a href="/Contact/">Contatos <span class="glyphicon glyphicon-envelope pull-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">Fornecedores <span class="glyphicon glyphicon-shopping-cart pull-right" aria-hidden="true"></span></a></li>
                                <li><a href="/Clientes">Clientes <span class="glyphicon glyphicon-user pull-right" aria-hidden="true"></span></a></li>
                                <li><a href="/Estatisticas">Estatísticas <span class="glyphicon glyphicon-signal pull-right" aria-hidden="true"></span></a></li>
                                <li><a href="/ConsultarDocumento/">Consultar Documentos <span class="glyphicon glyphicon-book pull-right" aria-hidden="true"></span></a></li>
                                <li><a href="#">Registar Documentos <span class="glyphicon glyphicon-pencil pull-right" aria-hidden="true"></span></a></li>
                                <li><a href="/Artigos">Artigos <span class="glyphicon glyphicon-barcode pull-right" aria-hidden="true"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xs-10 col-xs-offset-1 hidden-md hidden-lg">
                        <div class="row container-fluid" id="hidden-navigation-small">
                            <select class="form-control" id="navigation-small">
                                <option disabled selected>Menu</option>
                                <option disabled>-------</option>
                                <option value="/">Home</option>
                                <option value="/Contact/">Contatos</option>
                                <option value="#">Fornecedores</option>
                                <option value="/Clientes">Clientes</option>
                                <option value="#">Estatísticas</option>
                                <option value="/ConsultarDocumento/">Consultar Documentos</option>
                                <option value="#">Registar Documentos</option>
                                <option value="/Artigos">Artigos</option>
                            </select>
                        
                            <script>
                                document.getElementById("navigation-small").onchange = function() {
                                        window.location.href = this.value;
                                };
                            </script>
                        </div>
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <div class="container-fluid content">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">@ViewBag.Title</h3>
                                </div>
                                <div class="panel-body">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="push"></div>
    </div>
    <div class="footer">
        <div class="container-fluid">
            <p>&copy; 2014 GreenOak</p>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
